<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>budgetbuddy.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>budgetbuddy.controller.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresupuestoServlet</servlet-name>
        <servlet-class>budgetbuddy.controller.PresupuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MercadoServlet</servlet-name>
        <servlet-class>budgetbuddy.controller.MercadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordatorioServlet</servlet-name>
        <servlet-class>budgetbuddy.controller.RecordatorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumenServlet</servlet-name>
        <servlet-class>budgetbuddy.controller.ResumenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresupuestoServlet</servlet-name>
        <url-pattern>/presupuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MercadoServlet</servlet-name>
        <url-pattern>/mercado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordatorioServlet</servlet-name>
        <url-pattern>/recordatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumenServlet</servlet-name>
        <url-pattern>/resumen</url-pattern>
    </servlet-mapping>
</web-app>
